<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>addvoucher</name>
	<displayName><![CDATA[show voucher under price ]]></displayName>
	<version><![CDATA[1.0.0]]></version>
	<description><![CDATA[show voucher under price ]]></description>
	<author><![CDATA[iamshoaibktk@gmail.com]]></author>
	<tab><![CDATA[front_office_features]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
</module>
